.modsel_r { background-color: #910b0b; color: #ffffff; }
.modsel_y { background-color: #e0ca06; color: #000000; }
.modsel_g { background-color: #eacf00; color: #000000; }
.modsel_t { background-color: #107772; color: #ffffff; }
.modsel_s { background-color: #bcbcbc; color: #000000; }
.modsel_v { background-color: #B116C3; color: #ffffff; }
.modsel_g { background-color: #045700; color: #ffffff; }
.modsel_c { background-color: #246EBE; color: #000000; }
.modsel_w { background-color: #ffffff; color: #000000; }